*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.card-group{
    width: 90%;
    border: 1px solid black;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px;
    flex-wrap: wrap;

}
.card{
    max-width:13% ;
    padding:5 px;
    border: 4px solid #ccc;
    box-shadow: 0 0 15px 2px #ccc;
    margin: 0 5px 5px 0 ;
    height: 250px;
    border-radius: 15px;
}
.card-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
}
li,a,button{
    font-size: 20px;
    color: #C2C1C2;
    text-decoration: none;
    font-weight: 500;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 30px 10%;
    background-color:  #42213D;
}
.logo{
    margin-right: auto;
    width: 50px;
}
.log{
margin-right: auto;
flex-direction: row;
display: flex;
margin-left: 35 px;
font-size: 44px;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: rgb(14, 13, 14);
}
button{
    padding: 9px 25px;
    background-color: #C2C1C2;
    border: none;
    margin-left: 20px;
    border-radius: 50px;
    color: #42213D;
    font-weight: 650;
    
}
button:hover{
    background-color: rgb(104, 102, 102);
    border-radius: 50px;
} 
