*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: 0;
  }
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
  }
  .navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0);
  }
  .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0);
  }
  .drop{
    width: 100px !important;
    height: 40px !important;
    margin-top:3px ;
    margin-right: 10px;
    font-weight: 500;
  }
  
.card-group{
    width: 88%;
    border-radius: 8%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
    padding:8px;
    flex-wrap: wrap;
    background-color: #ccc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.card{
    border-radius:15px ;
    max-width:13% ;
    padding:2px;
    background-color: #ccc;
    margin: 0 5px 5px 0 ;
    max-height: 250px;
}
.card-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
}
h1
{
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.logo{
    margin-right: auto;
    width: 50px;
    height: 60px;
}
.log{
margin-right: auto;
flex-direction: row;
display: flex;
margin-left: 35 px;
font-size: 44px;
}
.hover img {
	height: 80%;
	width: 100%;
  border-radius: 8%;
}
.hover
{
	margin: 70px 20px;
	padding: 5px 5px ;
       width: 18%;
       height:300%;
       float: left;
       border-width: 1px;
       border-radius: 8%;
       overflow: hidden;
       justify-content: space-between;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.center :hover
 {
 	transform: scale(1.1 ,1.1);
     transition: 1s;
     color: #181819;

}
.center
{
width: 100%;
position: center;
color: #181819;
height: auto;
}
.clear{
	clear: both;
}
@media (max-width: 950px)
{
	.hover{
		width: 40%;
	}
	.right{
		clear: both;
		float: left;
		width: 100%;
  }
  .carousel-item{
    height: 250px !important;
    
  }
  
}


.container2{
  color: aliceblue;
  height:700px;
  width: 100%;
}
  .navbar1{
    width: 900px;
    height: 70px;
    margin-top: 40px;
}
.gps{
  background-color: white;
  width: 30px;
  height: 45px;
  border-radius: 0px 5px 5px 0px !important ;
}
.form-control{
  border-radius: 5px 0px 0px 5px !important ;
}
.form-inline input {
  height:45px !important;
}
.form-inline button {
  height:45px !important;
}
.bd-example{
  z-index:17;
}
.carousel-item{
  height: 550px !important;
}
.carousel-caption{
  color: black;
}
