*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  align-content: center;
}
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 0;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
  transition: all 0.2s;
}
.navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}
.drop{
  width: 100px !important;
  height: 40px !important;
  margin-top:3px ;
  margin-right: 10px;
  font-weight: 500;
}

.dropdown-item:hover
{
  background-color:rgba(196, 8, 17, 0.801);
  text-decoration-color: white;
}

.logo{
  margin-right: auto;
  width: 50px;
  height: 60px;
}

.log{
margin-right: auto;
flex-direction: row;
display: flex;
font-size: 44px;
}

  
.otlob{
  color: black;
}
.otlob:hover{
  color: #dc3545;
  text-decoration: none;
  transition: 0.9s;
}


.carousel-item{
  height: 400px !important;
}


.list-group-item{
  /* border: 1px solid #dc3545; */
  font-size: 20px;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #fff;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.list-group a {
  text-decoration: none;
  z-index: 1;
}

.list-group-item:hover{
  color: #fff;
}


.list-group-item::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #dc3545;
  transition: 0.5s;
  z-index: -1;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.list-group-item:hover::before{
  height: 180%;
}


.bg-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 2;
  display: none;
}
.modal-content{
  width: 500px;
  background-color: white;
  border-radius: 5px;

  text-align: center;
  padding: 20px;

  position: relative;
}
.close {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 35px;
  transform: rotate(45deg);
  cursor: pointer;
}