.container2 {
  margin-bottom: 50px;
  display: flex;
}
.card {
  margin-top: 50px;
}
.card img {
  height: 300px;
}

.card2 img{
  height :450px
}


.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 0;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
  transition: all 0.2s;
}
.navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}
.drop{
  width: 100px !important;
  height: 40px !important;
  margin-top:3px ;
  margin-right: 10px;
  font-weight: 500;
}

.logo{
  margin-right: auto;
  width: 50px;
  height: 60px;
}
.log{
  margin-right: auto;
  flex-direction: row;
  display: flex;
  margin-left: 35 px;
  font-size: 44px;
}
  



.list-group-item{
  /* border: 1px solid #dc3545; */
  font-size: 20px;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #fff;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.list-group a {
  text-decoration: none;
  z-index: 1;
}

.list-group-item:hover{
  color: #fff;
}

.list-group-item::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #dc3545;
  transition: 0.5s;
  z-index: -1;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.list-group-item:hover::before{
  height: 180%;
}