*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0:;
	text-decoration: none;
	font-family: montserrat;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    align-content: center;
}
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: 0;
  }
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
  }
  .navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0);
  }
  .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0);
  }
  .drop{
    width: 100px !important;
    height: 40px !important;
    margin-top:3px ;
    margin-right: 10px;
    font-weight: 500;
  }



.card-group{
    width: 88%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
    padding:8px;
    flex-wrap: wrap;
}


.logo{
    margin-right: auto;
    width: 50px;
    height: 60px;
}
.log{
margin-right: auto;
flex-direction: row;
display: flex;
margin-left: 35 px;
font-size: 44px;
}

.clear{
	clear: both;
}
@media (max-width: 950px)
{
	.box{
		width: 40%;
	}
	.right{
		clear: both;
		float: left;
		width: 100%;
  }
  .carousel-item{
    height: 250px !important;
    
  }
  
}
.container2{
  color: aliceblue;
  height:700px;
  width: 100%;
}
  .navbar1{
    width: 900px;
    height: 70px;
}
.gps{
  background-color: white;
  width: 30px;
  height: 45px;
  border-radius: 0px 30px 30px 0px !important ;
}
.gps:hover
{
  background-color: #922B21;
}
.form-control{
  border-radius: 30px 0px 0px 30px !important ;
}
.form-inline input {
  height:45px !important;
}

.form-inline button {
  height:45px !important;
}
.bd-example{
  z-index:17;
}
.carousel-item{
  height: 450px !important;
}
.carousel-caption{
  color: black;
}
.data {
	width: 100%;
	background-color: rgba(10, 32, 32, 0.6);
	height: 100%;
}
.nav-link 
{

  margin-left: 5px;
  margin-right: 5px;
  text-decoration-color: black;
}
.nav-link:hover
{
  background-color:rgba(145, 12, 19, 0.568);
 text-decoration-color: white;
}
.dropdown-item:hover
{
  background-color:rgba(196, 8, 17, 0.801);
 text-decoration-color: white;
}

.container .box .details .content p{
  font-size: 30px;
  color: white; 
}
h1
{
	text-align: center;
	padding-bottom: 5%
}
.signup
{
	background-image: url(../img/bg2.jpg);
	width: 100%;
	padding: 15%;padding-bottom: 500px;
	z-index: 1
}
.input
{
	margin-top: 50px;
 background-image: linear-gradient(120deg,#131212,#a49aa8);
/* width: 580px;
 height: 490px;*/
 padding: 40px 40px;
 border-radius:50px;
 left: 50%;top: 50%;transform: translate(-50%,-50%);
 position: absolute;
 box-shadow:  ;

}
.data {
	width: 100%;
	background-color: rgba(10, 32, 32, 0.6);
	height: 100%;
}
.txtb
{
	border-bottom: 2px solid #adadad
	;position: relative;
	margin-bottom: 40px;
}
.txtb input
{
	font-size: 20px;
	width: 100%;
	border: none;
	outline: none;
	height: 30px;
	padding: 0 5px;
	color: rgb(252, 248, 248);
	background: transparent;

}
.txtb span::before{
	content: attr(data-placeholder);
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	z-index: -1;
	transition: .5s;
	font-size: 30px
}
.txtb span::after{
content: '';
position: absolute;
width: 0%;
height: 2px;
transition: .5s;
background:  linear-gradient(120deg,#ddcbcb,#0a0000);
}

.focus + span::before{
	top: -10px;
	color: rgb(15, 15, 15);
	font-size: 20px;
	left: 0
	top: 100%

}
.focus + span::after{
	width: 100%;
	position: absolute;
	left: 0%;
	top: 100%
}
button, .logbtn
{
	color: rgb(220, 220, 233);/* border-radius: 10px;*/
	width: 100%;
	height: 50px;
	display: block;
	border: none;
	
	cursor: pointer;
	transition: .5s;
	border: none;
	background-size: 150%;
	margin-top: 20px;
	font-weight: bold;
}

button:hover , .logbtn:hover{
	background-position: right;
}

.n
{
	display: none;
}